[Unit]
Description=Oura
After=multi-user.target
[Service]
User=ubuntu
Type=simple
Restart=always
RestartSec=30s
WorkingDirectory=/home/ubuntu/pt3_production
ExecStart=/usr/bin/python3 /home/ubuntu/pt3_production/autostart_oura_justthetip.py
[Install]
WantedBy=multi-user.target